/* 标题 */
.title_a {
    display: flex;
    justify-content: center;
    margin: 10 auto; /* 水平居中 */
    color: #8462ff;
}

/* 管理界面 */
.manage_web {
    flex-direction: column; /* 子元素垂直排列 */
}

/* 导航栏 */
.container {
    height: 4rem;
    width: 100%;
    display: flex; /* 使用 flexbox 布局 */
    justify-content: center; /* 水平居中子元素内容 */
    align-items: center; /* 水平居中 */
    gap: 3rem; /* 子元素间隔 10px */
    background-color: #e2dbff; /* 可选：设置背景色以便于观察 */
}

/* 导航栏按钮 */
.child {
    color: #8462ff; /* 字体颜色 */
    text-decoration: none; /* 去掉下划线 */
    padding: 10px 20px; /* 内边距 */
    border-radius: 5px; /* 圆角 */
    transition: background-color 0.3s; /* 动效 */
}

.child:hover {
    color: white;
    background-color: #8462ff; /* 悬停时背景颜色 */
}
.child:active {
    background-color: #624abb; /* 点击时背景颜色 */
    transform: scale(0.95); /* 点击时缩小效果 */
}

/* 用户管理页面 */
.users_form {
    display: flex;
    justify-content: center;
    margin: 20px 20px;
    margin-bottom: 5rem;
}
/* 表格框 */
.users_box {
    background-color: rgba(98, 74, 187, 0.1); /* rgba 格式 */
    padding: 30px; /* 内边距 */
    margin: 0 auto; /* 使其居中对齐 */
    position: relative; /* 使其作为定位上下文 */
    padding-bottom: 20px; /* 留出滚动条空间 */
    width: 99%;
    max-width: 1800px;
    max-height: 600px;
    overflow: auto;
}



/* 表格 */
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #8462ff91;
}

.enabled {
    vertical-align: middle;      /* 垂直居中 */
    text-align: center;          /* 水平居中 */
    color: green;         /* 字体颜色为绿色 */
    border-radius: 5px; /* 边框圆角: 5px; */
    /* background-color: rgba(0, 128, 0, 0.3); */
}

.disabled {
    vertical-align: middle;      /* 垂直居中 */
    text-align: center;          /* 水平居中 */
    /* color: green;            字体颜色为绿色 */
    border-radius: 5px; /* 边框圆角: 5px; */
    /* background-color: rgba(0, 128, 0, 0.3); */
    color: rgb(255, 120, 120);              /* 字体颜色为红色 */
}


.edit-button {
    vertical-align: middle;      /* 垂直居中 */
    text-align: center;          /* 水平居中 */
    color: #fff;
    border-radius: 5px; /* 边框圆角: 5px; */
    background-color: #007bff;
    border-color: #007bff;
    margin: 3px;
}

.del-button {
    vertical-align: middle;      /* 垂直居中 */
    text-align: center;          /* 水平居中 */
    color: #fff;
    border-radius: 5px; /* 边框圆角: 5px; */
    background-color: #dc3545;
    border-color: #dc3545;
    margin: 3px;
}


#edit-modal {
    display: none; /* 初始隐藏 */
    position: fixed; /* 固定位置 */
    top: 25%; /* 设定距离顶部的距离 */
    left: 50%; /* 左侧50% */
    transform: translateX(-50%); /* 向左偏移自身宽度的一半，使其居中 */
    background-color: white; /* 背景颜色 */
    border: 1px solid #ccc; /* 边框 */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* 阴影效果 */
    padding: 20px; /* 内边距 */
    z-index: 1000; /* 确保在其他元素之上 */
    width: 30rem;
    height: 30rem;
    justify-content: center;
    align-items: center;
}

.edit-modal-content {
    display: flex;
    padding: 20px; /* 内边距 */
    /* 子元素垂直居中 */
    justify-content: center;
    align-items: center;
    /* 子元素垂直排列 */
    flex-direction: column;
    /* 子元素间距离: 20px; */
    gap: 20px;
    /* 子元素水平居中 */
    justify-content: center;
}

/* 确认按钮 */
.button {
    /* 外边距: 10px; */
    margin: 10px;
}


/* 重置 body 的默认边距 */
body {
    margin: 0; /* 去掉 body 的默认边距 */
    padding: 0; /* 去掉 body 的默认内边距 */
}

/* 页脚 */
footer {
    position: fixed; /* 固定footer在视窗底部 */
    bottom: 0; /* 将footer放置在视窗底部 */
    width: 100%; /* 使footer宽度与视窗宽度相同 */
    text-align: center; /* 文本居中 */
    padding: 1px 0; /* 上下内边距 */
    background-color: #f8f9fa; /* 背景颜色 */
    border-top: 1px solid #e9ecef; /* 上边框 */
    font-size: 0.875em; /* 字体大小 */
}


