/* 标题 */
.title_a {
    display: flex;
    justify-content: center;
    margin: 10 auto; /* 水平居中 */
    color: #8462ff;
}


/* 管理界面 */
.manage_web {
    flex-direction: column; /* 子元素垂直排列 */
}


/* 导航栏 */
.container {
    height: 4rem;
    width: 100%;
    display: flex; /* 使用 flexbox 布局 */
    justify-content: center; /* 水平居中子元素内容 */
    align-items: center; /* 水平居中 */
    gap: 3rem; /* 子元素间隔 10px */
    background-color: #e2dbff; /* 可选：设置背景色以便于观察 */
}

/* 导航栏按钮 */
.child {
    color: #8462ff; /* 字体颜色 */
    text-decoration: none; /* 去掉下划线 */
    padding: 10px 20px; /* 内边距 */
    border-radius: 5px; /* 圆角 */
    transition: background-color 0.3s; /* 动效 */
}

.child:hover {
    color: white;
    background-color: #8462ff; /* 悬停时背景颜色 */
}
.child:active {
    background-color: #624abb; /* 点击时背景颜色 */
    transform: scale(0.95); /* 点击时缩小效果 */
}

/* 参数页面 */
.set_form {
    display: flex;
    justify-content: center;
    margin: 20px auto;
}

/* 参数页面 */
.set_box {
    width: 90%;
    background-color: rgba(98, 74, 187, 0.1); /* rgba 格式 */
    border-radius: 10px; /* 圆角 */
    padding: 30px; /* 内边距 */

}

/* 横线 */
.hr_element {
    background-color: rgba(150, 124, 243, 0.5); /* rgba 格式 */
    border: none; /* 去掉默认边框 */
    height: 2px; /* 设置高度 */
    margin: 10px 0; /* 外边距 */
}

/* 全部参数标题 */
.set_value_element {
    margin: 5px 0;
    color: #8462ff;
}

/* 保存按钮 */
.savesettings {
    color: white; /* 字体颜色 */
    background-color: #8462ff;
    text-decoration: none; /* 去掉下划线 */
    padding: 10px 20px; /* 内边距 */
    border-radius: 5px; /* 圆角 */
    transition: background-color 0.3s; /* 动效 */
    border: none; /* 去掉边框 */
}

.savesettings:hover {
    color: white;
    background-color: #7d58ff; /* 悬停时背景颜色 */
}
.savesettings:active {
    background-color: #624abb; /* 点击时背景颜色 */
    transform: scale(0.95); /* 点击时缩小效果 */
}

/* 底部版本授权日期 */
.version_date {
    margin: 10px;
    gap: 30px;  /* 子元素水平间距30px */
    text-align: center;
    color: #8462ff;
    /* 子元素水平排列 */
    display: flex;
    justify-content: center;
}

/* 参数设置 */
.set_title {
    /* 居中，蓝色，边距20px */
    display: flex;
    justify-content: center;
    color: #8462ff;
    margin-bottom: 40px;
}

/* 输入框 */
.input_element {
    border-radius: 5px;
    outline: none; /* 去除聚焦时的轮廓线 */
    border: 1px solid #8462ff;
    padding: 5px;  /* 内边距3px */
    width: 100%;
    max-width: 300px;
}

/* 多内容输入框 */
.big_input_element {
    border-radius: 5px;
    outline: none; /* 去除聚焦时的轮廓线 */
    border: 1px solid #8462ff;
    padding: 5px;  /* 内边距3px */
    width: 100%;
    height: 100px;
}


/* 说明 */
.remarks {
    color: #969696;
}

/* 重置 body 的默认边距 */
body {
    margin: 0; /* 去掉 body 的默认边距 */
    padding: 0; /* 去掉 body 的默认内边距 */
}

/* 页脚 */
footer {
    position: fixed; /* 固定footer在视窗底部 */
    bottom: 0; /* 将footer放置在视窗底部 */
    width: 100%; /* 使footer宽度与视窗宽度相同 */
    text-align: center; /* 文本居中 */
    padding: 1px 0; /* 上下内边距 */
    background-color: #f8f9fa; /* 背景颜色 */
    border-top: 1px solid #e9ecef; /* 上边框 */
    font-size: 0.875em; /* 字体大小 */
}


