/* 标题 */
.title {
    display: flex;
    justify-content: center;
    margin: 10 auto; /* 水平居中 */
    color: #8462ff;
}

/* 公告 */
.gg {
    border: 1px solid #8462ff; /* 描边 */
    border-radius: 5px; /* 圆角5px */
    height: auto;
    width: 80%;
    align-items: center; /* 垂直居中对齐 */
    justify-content: center; /* 水平居中对齐 */
    margin: 0 auto; /* 水平居中 */
    display: flex;
    margin-bottom: 30px; /* 子元素底部间隔 */
    flex-direction: column; /*子元素垂直排列 */
    overflow: hidden; /* 溢出隐藏 */
}
/* 公告标题 */
.gg_span { 
    background-color: #8462ff; /* 设定文本底色，使用你需要的颜色 */
    width: 100%;
    padding: 0 10px; /* 给文本一些内边距 */
    border-radius: 3px; /* 使底色有点圆角 */
    text-align: center; /* 文本居中 */
    font-size: 1.2rem;
    padding: 2px; /* 添加内边距 */
    color: #ffffff;
}
/* 公告内容 */
.gg_gg {
    border-radius: 3px; /* 圆角5px */
    height: 100%; 
    width: 100%;
    margin: 0 auto; /* 水平居中 */
    display: flex;
    align-items: flex-start; /* 垂直对齐顶部 */
    justify-content: flex-start; /* 水平对齐左侧 */
    background-color: transparent;
    padding: 10px; /* 添加内边距 */
    font-size: 1rem;
    overflow: auto; /* 溢出隐藏 */
    color: #8462ff;
}

/* 步数指示 */
.say {
    width: 100%;
    height: 100%;
    margin: 0 auto; /* 水平居中 */
    display: flex;
    flex-direction: column; /* 子元素垂直排列 */
    margin-bottom: 15px; /* 子元素底部间隔 */
    text-align: center; /* 文本居中 */
    color: #8462ff;
}

/* 登陆框 */
.login_form {
    width: 100%;
    max-width: 400px;
    margin: 0 auto; /* 水平居中 */
    display: flex;
    flex-direction: column; /* 子元素垂直排列 */
    margin-bottom: 15px; /* 子元素底部间隔 */
}

/* 用户名&验证码--大框 */
.login-div  {
    border: 1px solid #8462ff; /* 描边1px黑色 */
    border-radius: 5px; /* 圆角5px */
    height: 35px; 
    width: 80%;
    margin: 0 auto; /* 水平居中 */
    display: flex;
    background-color: transparent;
    margin-bottom: 15px; /* 子元素底部间隔 */
    place-items: center;
    justify-content: space-between;
}

/* 图标 */
.icon {
    width: 20px;
    height: 20px;
    margin: 0 auto; /* 水平居中 */
    display: flex;
    place-items: center;
    margin: 6px; /* 子元素底部间隔 */
    fill: #8462ff;
}

/* 用户名文本框 */
.inputname {
    width: 100%;
    height: 100%;
    margin: 0 auto; /* 水平居中 */
    display: flex;
    background-color: transparent;
    border: 1px solid transparent; /* 设置透明边框 */
    outline: none;
    border: none;
}

/* 验证码文本框 */
.inputcode {
    width: auto;
    max-width: 150px;
    min-width: 60px;
    height: 100%;
    display: flex;
    border-radius: 5px; /* 圆角5px */
    background-color: transparent;
    border: 1px solid transparent; /* 设置透明边框 */
    outline: none;
    border: none;
    margin-right: auto;
}

/* 发送按钮 */
.sendcode_button  {
    width: auto;
    min-width: 100px; /* 最小宽度 */
    border-radius: 5px; /* 圆角5px */
    height: 80%;
    display: flex;
    margin: 3px;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    background-color: #dad0ff;
    color: #8462ff;
    border: none;
    cursor: pointer;
}
.sendcode_button:hover {
    background-color: #8462ff;
    color: #dad0ff;
}


/* 登录按钮 */
.login_button {
    height: 35px; 
    width: 80%;
    border-radius: 5px; /* 圆角5px */
    display: flex;
    font-size: 16px;
    margin: 0 auto; /* 水平居中 */
    justify-content: center;
    align-items: center;
    background-color: #dad0ff;
    color: #8462ff;
    border: none;
    cursor: pointer;
}
.login_button:hover {
    background-color: #8462ff;
    color: #dad0ff;
}


/* 页脚 */
footer {
    position: fixed; /* 固定footer在视窗底部 */
    bottom: 0; /* 将footer放置在视窗底部 */
    width: 100%; /* 使footer宽度与视窗宽度相同 */
    text-align: center; /* 文本居中 */
    padding: 1px 0; /* 上下内边距 */
    background-color: #f8f9fa; /* 背景颜色 */
    border-top: 1px solid #e9ecef; /* 上边框 */
    font-size: 0.875em; /* 字体大小 */
}


/* 信息框 */
.info_form {
    width: 100%;
    max-width: 400px;
    margin: 0 auto; /* 水平居中 */
    display: flex;
    flex-direction: column; /* 子元素垂直排列 */
    margin-bottom: 15px; /* 子元素底部间隔 */
}



/* 用户信息大框 */
.info_div  {
    border: none;
    border-radius: 5px; /* 圆角5px */
    height: 35px; 
    width: 80%;
    margin: 0 auto; /* 水平居中 */
    display: flex;
    background-color: transparent;
    margin-bottom: 15px; /* 子元素底部间隔 */
    place-items: center;
    justify-content: space-between;
}


/* 用户信息标题 */
.info_title {
    width: 100%;
    height: 100%;
    max-width: 3rem;
    margin: 0 auto; /* 水平居中 */
    display: flex;
    background-color: transparent;
    border: 1px solid transparent; /* 设置透明边框 */
    outline: none;
    border: none;
    border-radius: 5px; /* 圆角5px */
    margin-right: auto;
    align-items: center;
    justify-content: center;
    flex-direction: column; /* 子元素垂直排列 */
    color: #8462ff;
}

/* 用户信息文本框 */
.text_e {
    width: 100%;
    height: 100%;
    min-width: 200px;
    margin: 0 auto; /* 水平居中 */
    display: flex;
    background-color: transparent;
    border: 1px solid transparent; /* 设置透明边框 */
    outline: none;
    border: 1px solid #8462ff; /* 描边1px黑色 */
    border-radius: 5px; /* 圆角5px */
    margin-right: auto;
    align-items: center;
    justify-content: center;
    flex-direction: column; /* 子元素垂直排列 */
}


/* 二维码 */
.qrcode {
    width: 100%;
    min-width: 40px;
    max-width: 150px;
    margin: 0 auto; /* 水平居中 */
    display: flex;
    flex-direction: column; /* 子元素垂直排列 */
    text-align: center; /* 文本居中 */
    margin-top: 5px; /* 子元素底部间隔 */
    margin-bottom: 5rem; /* 主元素底部间隔 */
}

/* 隔空 */
.kong {
    /* height: 5rem;  主元素底部间隔 */
    min-height: 60px;
}