<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AUTOJDCK2</title>
    <link rel="icon" type="image/x-icon" href="./static/images/favicon.ico" />
    <link rel="stylesheet" href="./static/css/home.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="static/js/home_login.js"></script>
  </head>
  <body>
    <!-- <h1 class="title">AUTOJDCK2 V1.0</h1> -->
    <!-- 定义一个登录框-用于登录 -->
    <form class="login_form" id="login_form">
      <div class="gg">
        <div class="gg_span">公告</div>
        <!-- <pre class="gg_gg" id="gg_gg">暂无公告</pre> -->
        <iframe src="gg.html" style="border: none; width: 100%; height: 260px;"></iframe>
      </div>
      <div class="say">-------第一步-------</div>
      <div class="say">进行验证码登陆</div>
      <!-- 用户名大框 -->
      <div class="login-div">
        <!-- 用户图标 -->
        <span class="icon">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" width="1em" height="1em" viewBox="0 0 1024 1024" style="outline: none;">
            <path d="M224 768v96.064a64 64 0 0 0 64 64h448a64 64 0 0 0 64-64V768H224zm0-64h576V160a64 64 0 0 0-64-64H288a64 64 0 0 0-64 64v544zm32 288a96 96 0 0 1-96-96V128a96 96 0 0 1 96-96h512a96 96 0 0 1 96 96v768a96 96 0 0 1-96 96H256zm304-144a48 48 0 1 1-96 0a48 48 0 0 1 96 0z">
            </path>
          </svg>
        </span>
        <!-- 输入框 -->
        <input class="inputname" id="username" type="text" placeholder="请输入京东账号" />
      </div>
      <!-- 验证码大框 -->
      <div class="login-div">
        <!-- 验证码图标 -->
         <span class="icon">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" width="1em" height="1em" viewBox="0 0 24 24" class="iconify iconify--ri" style="outline: none;"><path  d="m12 1l8.217 1.826a1 1 0 0 1 .783.976v9.987a6 6 0 0 1-2.672 4.992L12 23l-6.328-4.219A6 6 0 0 1 3 13.79V3.802a1 1 0 0 1 .783-.976zm0 2.049L5 4.604v9.185a4 4 0 0 0 1.781 3.328L12 20.597l5.219-3.48A4 4 0 0 0 19 13.79V4.604zM12 7a2 2 0 0 1 1.001 3.732L13 15h-2v-4.268A2 2 0 0 1 12 7"></path></svg>
         </span>
        <!-- 验证码输入框 -->
        <input class="inputcode" id="code" type="text" placeholder="验证码" />
        <!-- 发送验证码按钮 -->
        <button class="sendcode_button" id="sendcode_button" type="button" onclick="sendcode()">发送验证码</button>
      </div>
        <button class="login_button" id="login_button" type="button" onclick="login()">登录</button>
        <div class="spinner"></div>
    </form>
    <!-- 用户信息界面 -->
    <form class="info_form" id="info_form">
      <div class="say">-------第二步-------</div>
      <div class="say">填写账号信息并提交</div>
      <!-- 用户名 -->
      <div class="info_div">
        <label class="info_title">账号：</label>
        <input class="text_e" id="jd_username" type="text" placeholder="自动登录账号">
      </div>
      <!-- 密码 -->
      <div class="info_div">
        <label class="info_title">密码：</label>
        <input class="text_e" id="password" type="text" placeholder="密码用于自动登录">
      </div>
      <!-- 备注 -->
      <div class="info_div">
        <label class="info_title">备注：</label>
        <input class="text_e" id="remark" type="text" placeholder="账号备注">
      </div>
      <!-- uid -->
      <div class="info_div">
        <label class="info_title">UID：</label>
        <input class="text_e" id="uid" type="text" placeholder="提交信息后扫码即可(通知推送UID)">
      </div>
      <!-- ck -->
      <div class="info_div">
        <label class="info_title">CK：</label>
        <input class="text_e" id="ck" type="text" placeholder="此次登录获取到的ck">
      </div>
      <!-- 提交按钮 -->
      <button class="login_button" id="submit_info" type="button" onclick="submitinfo()" disabled>登陆后提交</button>
      <!-- UID二维码 -->
    </form>
    <form class="info_form" id="qrcode_form" style="display: none;">
      <div class="info_form" id="qrcode_div">
        <div class="say">-------第三步-------</div>
        <div class="say">wx扫码关注接收jd推送</div>
        <!-- <div class="qrcode_text">wx扫码关注接收jd推送：</div> -->
        <img class="qrcode" id="qrcode" alt="未获取到二维码">
       </div>
    </form>
    <div class="kong"></div>
    <footer>
      <p>&copy;2024 AUTOJDCK2  github.com/dsmggm/svjdck/</p>
    </footer>
  </body>
</html>
    